.add_btn{
    text-align: right;
}
.table-voilet{
    background-color: #8F00FF;
    color:white;
}
.container{
    overflow: auto;
}
.left_view h3{
    font-size:21px;
}

.left_view p,.right_view p{
    font-weight: 600;
}

.left_view span,.right_view span{
    font-weight: 400;
}